body {
    padding-top: 50px;
    background-color: lightgray;
}

.navbar {
    background-color: #0f2c69;
    font-size: 1.3rem;
}

.jumbotron {
    background-image: url("../img/honeycomb.png");
    color: white;
}

.starter-template {
    padding: 40px 80px;
    background-color: white;
}

.footer {
    height:auto;
    background-color: #0f2c69;
    color: gray;
    font-size: 1rem;
    text-align: center;
    position: relative;
}

.icon-size {
    font-size: 200%;
}

.bp-blue {
    color: #0f2c69;
}

.bp-orange {
    color: #f5a100;
}

.bp-green {
    color: #05a22b;
}

.badge-Python {
    color: #fff;
    background-color: #3572A5;
    border-color: #3572A5;
}

.badge-JavaScript {
    color: darkslategray;
    background-color: #f1e05a;
    border-color: #f1e05a;
}

.badge-Django {
    color: #fff;
    background-color: #20AA76;
    border-color: #20AA76;
}

.badge-PHP {
    color: #4F5D95;
    background-color: #fff;
    border-color: #4F5D95;
    border-width:1px;
    border-style: solid;
}

.page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #05a22b;
    opacity: 0.6;
    border-radius: 50%;
}
.page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}
.page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}